<!DOCTYPE html>
<html>
<head>
  <title>Cowboys</title>
  <script src='//code.jquery.com/jquery-1.11.2.min.js'></script>
  <script src='/jquery.cookie.js'></script>
  <script src='/application.js'></script>
</head>
<body>
  <%= yield %>
</body>
</html>
